:root {
   --max-width: 1100px;
   --border-radius: 12px;
   --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
      'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
      'Courier New', monospace;

   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;

   --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
   );
   --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

   --tile-start-rgb: 239, 245, 249;
   --tile-end-rgb: 228, 232, 233;
   --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
   );

   --callout-rgb: 238, 240, 241;
   --callout-border-rgb: 172, 175, 176;
   --card-rgb: 180, 185, 188;
   --card-border-rgb: 131, 134, 135;

   --purple: rgb(123, 31, 162);
   --violet: rgb(103, 58, 183);
   --pink: rgb(244, 143, 177);

   --bg-color: rgb(20, 20, 20);

   --card-color: rgb(255, 255, 255, 0.02);
   --card-color-dark: rgb(255, 255, 255, 0.09);
   --border-color: rgba(255, 255, 255, 0.1);

   --loader-color: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
   );
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;

      --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
      --secondary-glow: linear-gradient(
         to bottom right,
         rgba(1, 65, 255, 0),
         rgba(1, 65, 255, 0),
         rgba(1, 65, 255, 0.3)
      );

      --tile-start-rgb: 2, 13, 46;
      --tile-end-rgb: 2, 5, 19;
      --tile-border: conic-gradient(
         #ffffff80,
         #ffffff40,
         #ffffff30,
         #ffffff20,
         #ffffff10,
         #ffffff10,
         #ffffff80
      );

      --callout-rgb: 20, 20, 20;
      --callout-border-rgb: 108, 108, 108;
      --card-rgb: 100, 100, 100;
      --card-border-rgb: 200, 200, 200;
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

* {
   scroll-behavior: smooth;
}

html {
   min-height: 100%;
   height: 100%;
}

body {
   background: var(--bg-color);
   overflow-x: hidden;
   width: 100%;
   height: 100%;
   color: white !important;
}

#__next {
   height: 100%;
}

a {
   color: inherit;
   text-decoration: none;
}

.box-shadow {
   box-shadow: -1px 1px 11px 3px var(--card-color);
   -webkit-box-shadow: -1px 1px 11px 3px var(--card-color);
   -moz-box-shadow: -1px 1px 11px 1px var(--card-color);
}

/* hide scroll thumb */

*::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
}

*::-webkit-scrollbar-thumb {
   background-color: #ffffff00 !important;
   outline: 1px solid rgba(112, 128, 144, 0) !important;
}

/* glow */

.glow:hover {
   transition: all 200ms linear;
}

.glow:hover::before {
   opacity: 1;
}

.glow::before,
.glow::after {
   border-radius: inherit;
   content: '';
   height: 100%;
   left: 0px;
   opacity: 0;
   position: absolute;
   top: 0px;
   transition: opacity 500ms;
   width: 100%;
   pointer-events: none;
}

.glow::before {
   background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
   );
   transition: all 500ms;
   z-index: 3;
}

.glow::after {
   background: radial-gradient(
      200px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
   );
   z-index: 1;
}

.glow_xl::after {
   background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
   ) !important;
}

.glow_xl::before {
   background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
   ) !important;
}

.glow_sm::after {
   background: radial-gradient(
      100px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
   ) !important;
}

.glow_sm::before {
   background: radial-gradient(
      200px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
   ) !important;
}

/* font's */

.roboto {
   /* font-family: 'Oxygen', sans-serif; */
   font-family: 'Roboto', sans-serif;
}

.loader {
   height: 4px;
   width: 100%;
   background-color: var(--loader-color);
   /* animation: background-pan 2s linear infinite;
    animation-delay: 500ms; */
}

@keyframes neon {
   0% {
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00,
         0 0 80px #00ff00;
   }
   100% {
      box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00,
         0 0 80px #00ff00, 0 0 100px #00ff00;
   }
}

.print_timetable {
   display: none;
}

/* Print Module */
@media print {
   table { page-break-after: always !important; }
   tr    { page-break-inside:avoid; page-break-after:auto; }
   td    { page-break-inside:avoid; page-break-after:auto; }
   thead { display:table-header-group; }
   tfoot { display:table-footer-group; }

   

   * {
      box-sizing: border-box;
   }

   body {
      display: flex;
      flex-direction: column;
      height: auto;
      min-width: 2020px !important;
      width: 100%;
      justify-content: center;
      align-items: center;
      justify-items: center;
      align-content: center;
      transform: scale(0.5);
      transform-origin: 0 0;
      color: black !important;
   }

   
   * {
      /* styling */
      box-sizing: border-box !important;
      font-size: 1rem !important;
      padding: 3px !important;
   }

   .print_timetable {
      display: flex;
      margin: 0 auto;
   }

   ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0.1px rgba(0, 0, 0, 0) !important;
      background-color: #f5f5f500 !important;
   }

   ::-webkit-scrollbar {
      width: 0.1px;
      background-color: #f5f5f500 !important;
   }

   ::-webkit-scrollbar-thumb {
      background-color: #f5f5f500 !important;
      border: 1px solid #f5f5f500 !important;
   }

   

} /* Print */

.syntax-highlighter {
   background-color: var(--card-color) !important;
   border-radius: 0.2rem;
   border: 1px solid var(--border-color) !important;
   font-style: normal !important;
}

.mark-down h1 {
   font-family: 'Roboto', sans-serif;
   font-size: 2.5rem;
   font-weight: 600;
}

.mark-down h2 {
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   font-weight: 600;
}

.mark-down h3 {
   font-family: 'Roboto', sans-serif;
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.mark-down p {
   font-family: 'Roboto', sans-serif;
}

.mark-down ul {
   font-family: 'Roboto', sans-serif;
   margin: 1rem 1rem 1rem 1.5rem;
}

.mark-down li {
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
}

.mark-down blockquote {
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   background-color: var(--card-color-dark);
   padding: 0.2rem;
   padding-left: 0.3rem;
   border: 0.1px solid var(--border-color);
   border-radius: 0.2rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.mark-down a {
   color: #9bdaf3 !important;
   font-weight: bold;
}

.mark-down a:hover {
   color: #9bdaf3 !important;
   text-decoration: underline;
   font-weight: bold;
}

.mark-down em {
   color: orange;
   font-family: 'roboto';
   font-size: 1rem;
   font-style: normal;
}

@keyframes background-pan {
   from {
      background-position: 0% center;
   }

   to {
      background-position: -200% center;
   }
}

.gradient-heading {
   animation-delay: 500ms;
   animation: background-pan 1.5s linear infinite;
   font-size: 3rem;
   background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
   background-size: 200%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: bold;
}
