.mark_down {
   width: '100%';
   width: 100%;
   height: 100%;
   text-align: justify;
}

.mark_down h1 {
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   font-weight: 600;
   padding: 0.5rem 0rem 0.5rem 0rem;
}

.mark_down h2 {
   font-family: 'Roboto', sans-serif;
   font-size: 1.5rem;
   font-weight: 600;
   padding: 0.5rem 0rem 0.5rem 0rem;
}

.mark_down h3 {
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   font-weight: 600;
   padding: 0.5rem 0rem 0.5rem 0rem;
}

.mark_down p {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   line-height: 20px;
   text-transform: none;
   padding: 0.1rem;
}

.mark_down ul {
   font-family: 'Roboto', sans-serif;
   margin: 1rem 1rem 1rem 1.5rem;
}

.mark_down li {
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   padding: 0.2rem 0rem 0.2rem 0rem;
}

.mark_down blockquote {
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   background-color: var(--card-color-dark);
   padding: 0.2rem;
   padding-left: 0.3rem;
   border: 0.1px solid var(--border-color);
   border-radius: 0.2rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

.mark_down a {
   color: #9bdaf3 !important;
   font-weight: bold;
}

.mark_down a:hover {
   color: #9bdaf3 !important;
   text-decoration: underline;
   font-weight: bold;
}

.mark_down em {
   color: orange;
   font-family: 'roboto';
   font-size: 1rem;
   font-style: normal;
}

.mark_down > pre {
   box-sizing: border-box;
   background-color: var(--card-color);
   border-radius: 0.2rem;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
   .mark_down  p {
      font-size: 80%;
   }
   
   .mark_down ul {
      font-family: 'Roboto', sans-serif;
      margin: 1rem 1rem 1rem 1.5rem;
      font-size: 0.9rem;
   }
   
   .mark_down li {
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
      padding: 0.2rem 0rem 0.2rem 0rem;
   }
}