body 
{
    min-width: 500px !important;
}

@media (max-width: 500px)
{
    html 
    {
      height: -webkit-fill-available;
    }

    body 
    {
      height: -webkit-fill-available;
      max-width: 500px !important;
      min-width: 500px !important;
      width: 100% !important;
    }
}
