html,
body 
{
  scroll-behavior: smooth !important;
}

/* body 
{
  /* min-width: 500px !important; */
/*}*/
/*
@media (max-width: 500px)
{
    
    html {
      height: -webkit-fill-available;
      width: 500px;
      overflow: auto;
    }

    body 
    {
      height: -webkit-fill-available;
      max-width: 500px !important;
      min-width: 500px !important;
      width: auto !important;
      width: 500px;
    }
} */

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff00;
  outline: 1px solid rgba(112, 128, 144, 0);
}

.dropDown::-webkit-scrollbar {
  width: 1px;
}

.dropDown::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(53, 49, 49, 0);
}

.dropDown::-webkit-scrollbar-thumb {
  background-color: rgba(112, 183, 255, 0.706);
}